body {
    background-color: hsl(30, 38%, 92%);
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
}

.child-container {
    width: 100%;
    height: 300px;
}

@media screen and (max-width:1440px) {
    .child-container {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .child-container {
        width: 50%;
    }
}

h2 {
    font-family: 'Fraunces', serif;
}

h1,
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}