.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(30, 38%, 92%);
}

.parent {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    min-height: 100vh;
}

h2 {
    font-family: 'Fraunces', serif;
}

h1,
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}