body {
    background-color: hsl(219, 58%, 70%);
}

.main-container {
    border: 15px solid white;
    border-radius: 10px;
    background-color: white;
    position: center;
    margin: 500px;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}